@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">Proof-of-concept to integrate Salesforce into ActionRelay.</p>
    <p><a href="" class="btn btn-primary btn-lg">Login via Salesforce &raquo;</a></p>
</div>
