@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">Proof-of-concept to integrate Salesforce into ActionRelay.</p>
    <p>@Html.ActionLink("Login via Salesforce »", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary btn-lg" })</p>
</div>
