<appSettings>
  <!-- Provide actual values for these settings and rename the file to AppSettings.config-->
  <add key="SecurityToken" value="" />
  <add key="ConsumerKey" value="" />
  <add key="ConsumerSecret" value="" />
  <add key="Username" value="" />
  <add key="Password" value="" />

  <add key="AuthorizationEndpoint " value="https://na30.salesforce.com/services/oauth2/authorize" />
  <add key="TokenEndpoint" value="https://na30.salesforce.com/services/oauth2/token" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>