<appSettings>
  <!-- Provide actual values for these settings and rename the file to AppSettings.config-->
  <add key="SecurityToken" value="" />
  <add key="ConsumerKey" value="" />
  <add key="ConsumerSecret" value="" />
  <add key="Username" value="" />
  <add key="Password" value="" />

  <add key="webpages:Enabled" value="false" />
</appSettings>